<mat-toolbar  color="primary">
    <span >
      {{ title }}
    </span>
    <span class="flexExpand"></span>
    <mat-form-field  appearance="outline" floatLabel="never" >
      <mat-icon class="black-icon" matSuffix>search</mat-icon>
      <input matInput [(ngModel)]="searchTerm" placeholder="Type here to search"  color="accent">

    </mat-form-field>
</mat-toolbar>

<mat-tab-group>
  <mat-tab label="Pattern"></mat-tab>
  <mat-tab label="Component"> </mat-tab>
  <mat-tab label="Model"> </mat-tab>
</mat-tab-group>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened class="app-sidenav">
    <!-- Sidenav Menu -->
    <nav>


    <mat-radio-group aria-label="Select an option">
      <a mat-button class="nav-link"
      *ngFor="let link of links"
      >
      <mat-radio-button value={{link.title}}><mat-icon>{{link.icon}}</mat-icon>
      {{link.title}}</mat-radio-button>
    </a>
    </mat-radio-group>
    </nav>
  </mat-sidenav>

  <div class="container">
    <mat-card>Cache</mat-card>
    <mat-card>Data Warehouse</mat-card>
    <mat-card>Relational Database Management System(RDBMS)</mat-card>
    <mat-card>noSQL DataBase</mat-card>
  </div>
</mat-sidenav-container>
